<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>18C2865A-83AF-47BF-8BEB-9A4745359C8C</string>
			<string>2F83160E-5D72-4375-B0D0-051CA509065E</string>
			<string>A3B18CEE-438A-4B54-8E09-A21EEE93EFF8</string>
			<string>------------------------------------</string>
			<string>C0E5B9C7-AD13-45F6-B018-36FD7A78C86B</string>
			<string>A4E8A68E-CC1F-4D07-8D6E-ACA345CC3842</string>
			<string>414993DC-0B52-4EBB-AA2F-F2F4DC1C3ED0</string>
			<string>------------------------------------</string>
			<string>AB5EF667-C79F-4A91-A315-8812F3E8DD84</string>
			<string>F3D196DB-9AFF-49CE-A8E0-BB968B1A0934</string>
			<string>3B79EA0F-AD55-4D86-8AE7-77E33D60F15A</string>
			<string>CDF62ABE-BE13-4941-A460-D484ED2A62B8</string>
			<string>------------------------------------</string>
			<string>62A62E1E-CCAF-4F8B-BF87-74482F88A261</string>
			<string>B242904B-18F2-4B34-B941-7BFD26D60633</string>
			<string>------------------------------------</string>
			<string>E9DF6005-36B4-4C92-BD84-1932C4CC6E34</string>
			<string>2FA93A26-DC17-408B-A28B-3B849847E5C4</string>
			<string>------------------------------------</string>
			<string>06866A7F-974F-4B1C-B8E9-6F6926CD807D</string>
			<string>955130EB-ECE5-4D2E-B89C-174FA1F5788F</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>3B79EA0F-AD55-4D86-8AE7-77E33D60F15A</key>
			<dict>
				<key>items</key>
				<array>
					<string>BE0C23B5-9F44-4B74-847E-5A0E2FC44F91</string>
				</array>
				<key>name</key>
				<string>URL Encoding</string>
			</dict>
			<key>AB5EF667-C79F-4A91-A315-8812F3E8DD84</key>
			<dict>
				<key>items</key>
				<array>
					<string>A3CEA904-D43B-4E86-8B9E-B726D2620F00</string>
				</array>
				<key>name</key>
				<string>JSON</string>
			</dict>
			<key>F3D196DB-9AFF-49CE-A8E0-BB968B1A0934</key>
			<dict>
				<key>items</key>
				<array>
					<string>9C934A81-E7D4-4AAA-BB7F-FF7611E203C4</string>
					<string>D09D85E4-DECC-46D1-8DA6-13D2301E69CF</string>
				</array>
				<key>name</key>
				<string>Serialization</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>SP - General</string>
	<key>ordering</key>
	<array>
		<string>C0E5B9C7-AD13-45F6-B018-36FD7A78C86B</string>
		<string>9C934A81-E7D4-4AAA-BB7F-FF7611E203C4</string>
		<string>D09D85E4-DECC-46D1-8DA6-13D2301E69CF</string>
		<string>18C2865A-83AF-47BF-8BEB-9A4745359C8C</string>
		<string>2F83160E-5D72-4375-B0D0-051CA509065E</string>
		<string>A4E8A68E-CC1F-4D07-8D6E-ACA345CC3842</string>
		<string>414993DC-0B52-4EBB-AA2F-F2F4DC1C3ED0</string>
		<string>A3B18CEE-438A-4B54-8E09-A21EEE93EFF8</string>
		<string>B242904B-18F2-4B34-B941-7BFD26D60633</string>
		<string>A3CEA904-D43B-4E86-8B9E-B726D2620F00</string>
		<string>E9DF6005-36B4-4C92-BD84-1932C4CC6E34</string>
		<string>2FA93A26-DC17-408B-A28B-3B849847E5C4</string>
		<string>BE0C23B5-9F44-4B74-847E-5A0E2FC44F91</string>
		<string>CDF62ABE-BE13-4941-A460-D484ED2A62B8</string>
		<string>62A62E1E-CCAF-4F8B-BF87-74482F88A261</string>
		<string>06866A7F-974F-4B1C-B8E9-6F6926CD807D</string>
		<string>955130EB-ECE5-4D2E-B89C-174FA1F5788F</string>
	</array>
	<key>uuid</key>
	<string>2656A51A-EFAD-4963-A99F-E90CE66E1778</string>
</dict>
</plist>
